/* app css stylesheet */
body, html{
	margin: 0;
	padding:0;
	background: white;
}

/*header*/

/*header end*/

/*article page*/

/*msg*/

.comments{
	width: 95%;
	position: absolute;
	bottom: 50px;
}

#messagesDiv{
	width: 90%;
	height: 200px;
	margin: auto;
	overflow-y: scroll;
	background: #eee;
	padding: 10px;
	box-shadow: inset 0px 0px 3px 0 rgba(55%,55%,55%, .5);
}

#messageInput{
	width: 45%;
	margin: 2%;
	background: #333;
	color: white;
	border: inset thin #444;
}

#nameInput{
	width: 45%;
	margin: 2%;
	float: left;
	background: #333;
	color: white;
	border: inset thin #444;
}

.person{
	color: #0e7c9d;
	text-decoration:underline;
	font-weight: 700;
	padding: 0;
}

.msg{
	color: #333;
	text-decoration: none;
}
/*msg end*/

.main{
	width: 920px;
	margin: auto;
	color: #999999;
}


.gallerypost{
	margin: 2%;
	padding: 1%;
}

.galleryPost .title{
	display: block;
	flex: 1 0 auto;
	color: #ffc400;
}

.galleryPost p{
	color: black;
}

.galleryPost > img {
	width: 100%;
}

.galleryPost .divider{
	width: 90%;
	margin: auto;
	margin: 10px 0 10px 0;
}
.galleryPost .artbtn{
	flex: 1 0 auto;
	align-self: flex-end;
	margin-bottom: 10px;
	max-height: 35px;
}
/*
.likebtn{
	flex: 1 0 auto;
	align-self:;
	margin-bottom: 10px;
	max-height: 35px;
}*/

/*article page ends*/


/*mobile article page*/
@media all and (max-width:1110px){
	.main{
		width: 100%;
		display: block;
	}
	
	img{
		max-width: 100%;
		max-height: 100%;
	}
}

/*article page ends*/